.formSection{
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.inputDiv input{
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: none;
}

.submitBtn{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: blueviolet;
}

.formSection h2{
    color: #fff;
}

.empForm{
    background-color: #222;
    width: 250px;
    border-radius: 5px;
    padding: 20px;
}

.section{
    color: #fff;
}

.section button{
    background-color: green;
    margin-top: 10px;
}

.section input{
    width: 100%;
}